@Scripts.Render("~/bundles/selectize")
@Styles.Render("~/plugins/selectize")

<div class="modal fade" id="addNewBusinessModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title" id="Heading">Add New Business</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="submitBusinessForm">
                    <div class="form-group">
                        <label for="businessName" class="col-sm-3 col-md-3 control-label">Business Name</label>
                        <div class="col-sm-9 col-md-9">
                            <input type="text" class="form-control" id="businessName" name="BusinessName" placeholder="Business Name" pattern="[A-Za-z]{3}" required>
                            <span class="message-icon glyphicon"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="businessPhone" class="col-sm-3 col-md-3 control-label">Business Phone</label>
                        <div class="col-sm-9 col-md-9">
                            <input type="number" class="form-control" id="businessPhone" name="PhoneNumber" placeholder="Business Phone Number" required>
                            <span class="message-icon glyphicon"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="businessEmail" class="col-sm-3 col-md-3 control-label">Business Email</label>
                        <div class="col-sm-9 col-md-9">
                            <input type="email" class="form-control" id="businessEmail" name="BusinessEmail" placeholder="Business Email" required>
                            <span class="message-icon glyphicon"></span>
                        </div>
                    </div>
                    <div class="form-group edit-password">
                        <label for="edit-password" class="col-sm-3 col-md-3 control-label">Edit  Password</label>
                        <label class="switch">
                            <input type="checkbox" class="btn btn-info" id="edit-password">
                            <div class="slider round"></div>
                        </label>
                    </div>
                    <div id="collapse" class="collapse">
                        <div class="form-group">
                            <label for="password" class="col-sm-3 col-md-3 control-label">Password</label>
                            <div class="col-sm-9 col-md-9">
                                <input type="password" class="form-control" id="password" name="Password" placeholder="Password" required>
                                <span class="message-icon glyphicon validation-icon"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" class="col-sm-3 col-md-3 control-label">Confirm</label>
                            <div class="col-sm-9 col-md-9">
                                <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" placeholder="Confirm Password" required>
                                <span class="message-icon glyphicon validation-icon"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!-- The contact person section -->
                    <div class="form-group">
                        <label for="contPersFName" class="col-sm-3 col-md-3 control-label">First Name</label>
                        <div class="col-sm-9 col-md-9">
                            <input type="text" class="form-control" id="contPersFName" name="ContactPersonFirstName" placeholder="Contact Person First Name" required>
                            <span class="message-icon glyphicon"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contPersLName" class="col-sm-3 col-md-3 control-label">Last Name</label>
                        <div class="col-sm-9 col-md-9">
                            <input type="text" class="form-control" id="contPersLName" name="ContactPersonLastName" placeholder="Contact Person Last Name" required>
                            <span class="message-icon glyphicon"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contPersPhone" class="col-sm-3 col-md-3 control-label">Phone Number</label>
                        <div class="col-sm-9 col-md-9">
                            <input type="number" class="form-control" id="contPersPhone" name="ContactPersonPhoneNumber" placeholder="Contact Person Phone Number" required>
                            <span class="message-icon glyphicon"></span>
                        </div>
                    </div>
                    <!-- The address section -->
                    <hr />
                    <div class="form-group">
                        <label for="addressLine1" class="col-sm-3 col-md-3 control-label">Address Line 1</label>
                        <div class="col-sm-9 col-md-9">
                            <input type="text" class="form-control" id="addressLine1" name="AddressLine1" placeholder="Address Line 1" required>
                            <span class="message-icon glyphicon"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addressLine2" class="col-sm-3 col-md-3 control-label">Address Line 2</label>
                        <div class="col-sm-9 col-md-9">
                            <input type="text" class="form-control" id="addressLine2" name="AddressLine2" placeholder="Address Line 2">
                            <span class="message-icon glyphicon hide"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- This should be done with selectize -->
                        <label for="country" class="col-sm-3 col-md-3 control-label">Country</label>
                        <div class="col-sm-9 col-md-9">
                            <input type="text" class="form-control" id="country" name="Country" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="col-sm-3 col-md-3 control-label">City</label>
                        <div class="col-sm-9 col-md-9">
                            <input type="text" class="form-control" id="city" name="City" placeholder="City" required>
                            <span class="message-icon glyphicon"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="state" class="col-sm-3 col-md-3 control-label">State</label>
                        <div class="col-sm-9 col-md-9">
                            <input type="text" class="form-control" id="state" name="State" placeholder="State" required>
                            <span class="message-icon glyphicon"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="zipCode" class="col-sm-3 col-md-3 control-label">Zip Code</label>
                        <div class="col-sm-9 col-md-9">
                            <input type="text" class="form-control" id="zipCode" name="ZipCode" placeholder="Zip Code">
                            <span class="message-icon glyphicon"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer ">
                <ul class="list-inline pull-right">
                    <li><button type="submit" class="btn btn-primary" data-dismiss="modal" id="cancelBussinessBtn">Cancel</button></li>
                    <li><input type="button" class="btn btn-primary" value="Create" id="submitBussinessBtn" /></li>
                </ul>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $("#country").selectize({
        searchField: ['text'],
        maxItems: 1,
        allowEmptyOption: false,
        plugins: ['remove_button'],
        preload: true,
        //options: countries,
        load: function (query, callback) {
            $.post("/home/GetCountries")
              .done(function (data) {
                  if (data !== '') {
                      callback(data);
                  }
              }).fail(function (xmlHttpRequest, textStatus, errorThrown) {
              });
        }
    });
</script>
