
<div class="modal fade" id="previewDriver" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div id="image-modal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="zoom-image">
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">View Driver Documents</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form">
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="step1">
                                    <div class="wrapper wrapper-content">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row firsDocRow">
                                                    <div class="effect-1 effects clearfix">

                                                        <div class="col-lg-6 img text-center">
                                                            <h3 >Passport</h3>
                                                            <img id="Passport" class="no-img" />
                                                            <div class="row Passport" id="passportOverlay">
                                                                <div class="col-lg-4 image"><a class="expand previewDriverDocument"><span class="fa fa-search"></span></a></div>
                                                                <div class="col-lg-4"><a class="expand acceptDriverDocument"><span class="fa fa-check"></span></a></div>
                                                                <div class="col-lg-4 rejectDriverDocument"><a class="expand rejectDriverButton"><span class="fa fa-times"></span></a></div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6 img text-center">
                                                            <h3>Insuracne</h3>
                                                            <img id="Insurance" class="no-img" />
                                                            <div class="row Insurance" id="insuranceOverlay">
                                                                <div class="col-lg-4 image"><a class="expand previewDriverDocument"><span class="fa fa-search"></span></a></div>
                                                                <div class="col-lg-4"><a class="expand acceptDriverDocument"><span class="fa fa-check"></span></a></div>
                                                                <div class="col-lg-4 rejectDriverDocument"><a class="expand rejectDriverButton"><span class="fa fa-times"></span></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="effect-1 effects clearfix">
                                                        <div class="col-lg-6 img text-center">
                                                            <h3>Proof Of Address</h3>
                                                            <img id="ProofOfAddress" class="no-img" />
                                                            <div class="row ProofOfAddress" id="proofOfAddressOverlay">
                                                                <div class="col-lg-4 image"><a class="expand previewDriverDocument"><span class="fa fa-search"></span></a></div>
                                                                <div class="col-lg-4"><a class="expand acceptDriverDocument"><span class="fa fa-check"></span></a></div>
                                                                <div class="col-lg-4"><a class="expand rejectDriverDocument"><span class="fa fa-times"></span></a></div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6 img text-center">
                                                            <h3>License</h3>
                                                            <img id="License" class="no-img" />
                                                            <div class="row License" id="licenseOverlay">
                                                                <div class="col-lg-4 image">
                                                                    <a href="#"
                                                                       data-toggle="tab" data-placement="top" title="Hooray!" class="expand previewDriverDocument"><span class="fa fa-search"></span></a>
                                                                </div>
                                                                <div class="col-lg-4"><a class="expand acceptDriverDocument"><span class="fa fa-check"></span></a></div>
                                                                <div class="col-lg-4"><a class="expand rejectDriverDocument"><span class="fa fa-times"></span></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <ul class="list-inline pull-right">
                    <li><button type="button" class="btn btn-danger prev-step" data-dismiss="modal">Close</button></li>
                </ul>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="rejection-modal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title">Reject Driver Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="wizard">
                            <form role="form" id="rejection-form">
                                <textarea id="rejection-comment" name="RejectionComment" rows="6" style="max-width: 100%; min-width: 100%; max-height: 100px"></textarea>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <ul class="list-inline pull-right">
                    <li><button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Close</button></li>
                    <li><button type="button" class="btn btn-primary btn-danger" id="reject">Reject</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>
