

<div class="modal fade" id="addOrderModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title" id="Heading">Add New Order</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="submitBusinessForm">
                    
                </form>
            </div>
            <div class="modal-footer ">
                <ul class="list-inline pull-right">
                    <li><button type="submit" class="btn btn-primary" data-dismiss="modal" id="cancelBussinessBtn">Cancel</button></li>
                    <li><input type="button" class="btn btn-primary" value="Create" id="submitBussinessBtn" /></li>
                </ul>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<script src="~/Scripts/app/Business/Partials/businessMakeOrder.js"></script>