<div class="modal fade" id="previewOrderDetailsModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title" id="Heading">Preview Order Details</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" id="submitOrderForm">
                    <div class="form-group">
                        <label for="lblCustomerName" class="col-sm-4 col-md-4 control-label">Customer Name</label>
                        <div class="col-sm-8 col-md-8">
                            <label id="lblCustomerName" class="form-control" name="CustomerName"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lblCustomerPhone" class="col-sm-4 col-md-4 control-label">Customer Phone</label>
                        <div class="col-sm-8 col-md-8">
                            <label class="form-control" id="lblCustomerPhone" name="CustomerPhone" placeholder="Customer Phone Number"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lblTimeToReachPickUpLocation" class="col-sm-4 col-md-4 control-label">Time To Reach PickUp Location</label>
                        <div class="col-sm-8 col-md-8">
                            <label class="form-control" id="lblTimeToReachPickUpLocation" name="TimeToReachPickUpLocation" placeholder="Time To Reach PickUp Location"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lblTimeToReachDropOffLocation" class="col-sm-4 col-md-4 control-label">Time To Reach DropOff Location</label>
                        <div class="col-sm-8 col-md-8">
                            <label type="text" class="form-control" id="lblTimeToReachDropOffLocation" name="TimeToReachDropOffLocation" placeholder="Time To Reach DropOff Location"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lblPickUpLocation" class="col-sm-4 col-md-4 control-label">Pick Up Location</label>
                        <div class="col-sm-8 col-md-8">
                            <label type="text" class="form-control location" id="lblPickUpLocation" name="PickUpLocation" placeholder="Pick Up Location"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lblDropOffLocation" class="col-sm-4 col-md-4 control-label">Drop Off Location</label>
                        <div class="col-sm-8 col-md-8">
                            <label type="text" class="form-control location" id="lblDropOffLocation" name="DropOffLocation" placeholder="Drop Off Location"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lblOrderNumber" class="col-sm-4 col-md-4 control-label">Order Number</label>
                        <div class="col-sm-8 col-md-8">
                            <label type="text" class="form-control" id="lblOrderNumber" name="OrderNumber" placeholder="Unique Order number"></label>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<input type="hidden" id="txtLatitude" value="51.5076514" />
<input type="hidden" id="txtLongitude" value="-0.1256326" />
